.full-details-container {
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.title-container {
  padding: 5vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  color: white;
  height: auto;
  padding-bottom: 4vh;
  h2 {
  font-size: 2rem;
  }
}

#detail-tag {
  background-color: #aa6c00;
  h4 {
  font-size: 1.1rem;
  font-weight: bold;
  color: #fff;
  margin: 0;
  padding: 1vh;
  }
}

.data-container {
  flex-direction: column !important;
}

.row > h3 {
  padding: 1.2vh;
  font-size: 1.2rem;
}

.row:nth-child(odd) {
  background-color: #ffc843;
}

.row:nth-child(even) {
  background-color: #d38700;
}

#eth-logo {
  height: 20vh;
  width: 20vh;
  margin-right: auto;
  margin-left: 0.1vh;
}
