* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background-color: #fdcf62;
  font-family: 'Roboto', sans-serif;
}

.list-group {
  flex-direction: row;
  flex-wrap: wrap;
}

.container {
  padding: 0;
}

.btn-primary {
  background-color: transparent;
  border: 0;
  padding: 0;
}

#home-tag {
  background-color: #dd9822;
  p {
  font-size: 0.8rem;
  font-weight: bold;
  color: #fff;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 1vh;
  }
}
