
.list-group-item:nth-child(4n + 1),
.list-group-item:nth-child(4n + 4) {
  background-color: #ffc843;
}

.list-group-item:nth-child(4n + 2),
.list-group-item:nth-child(4n + 3) {
  background-color: #d38700;
}

#data-container {
  justify-content: flex-end;
  flex-direction: column;
  padding: 1vh;
  padding-top: 2vh;
  font-family: 'Roboto', sans-serif;
  h3 {
    font-size: 1.2rem;
    font-weight: bold;
    text-align: right;
  };
  p {
    font-size: 0.88rem;
    margin-bottom: 0.7vh;
    text-align: right;
  }
}

.list-group-item {
  background-color: transparent;
  color: #fff;
  display: flex;
  justify-content: flex-start;
  padding-top: 2vh;
  flex: 1;
  min-width: 50%;
  border: 0;
  cursor: pointer;
}

.eth-icon {
  height: 10vh;
  width: 10vh;
  margin-bottom: 2vh;
}

.bottom-data > i {
  margin-left: 15vw;
}
